In [26]:
import requests
from bs4 import BeautifulSoup

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [51]:
year = '2020'
url_link = 'https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html'

url = url_link.format(year)
url

'https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html'

In [30]:
years = [2015,2016,2017,2018,2019]
url_link = 'https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html'

for year in years:
  url = url_link.format(year)
  print(url)

https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html
https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html
https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html
https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html
https://jatim.bps.go.id/statictable/2021/09/14/2284/jumlah-pasangan-usia-subur-dan-peserta-kb-aktif-menurut-kabupaten-kota-di-provinsi-jawa-timur-2020.html

In [31]:
df = pd.read_html(url, header = 0)
df

[Empty DataFrame
 Columns: [Unnamed: 0, Unnamed: 1]
 Index: [],
 Empty DataFrame
 Columns: [DATA SENSUS, Unnamed: 1]
 Index: [],
    Unnamed: 0 Facebook  Unnamed: 2 Instagram
 0         NaN  Twitter         NaN   Youtube,
    Unnamed: 0 Berita Resmi Statistik
 0         NaN              Publikasi,
    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020  \
 0   Number of Fertile Age Couples and Active Famil...
 1                Kabupaten/Kota Regency/ Municipality
 2                Kabupaten/Kota Regency/ Municipality
 3                                   Kabupaten/Regency
 4                                             Pacitan
 5                                            Ponorogo
 6                                          Trenggalek
 7                                         Tulungagung
 8                                              Blitar
 9                                              Kediri
 10                                             Malang
 11                                           Lumajang
 12                                             Jember
 13                                         Banyuwangi
 14                                          Bondowoso
 15                                          Situbondo
 16                                        Probolinggo
 17                                           Pasuruan
 18                                           Sidoarjo
 19                                          Mojokerto
 20                                            Jombang
 21                                            Nganjuk
 22                                             Madiun
 23                                            Magetan
 24                                              Ngawi
 25                                         Bojonegoro
 26                                              Tuban
 27                                           Lamongan
 28                                             Gresik
 29                                          Bangkalan
 30                                            Sampang
 31                                          Pamekasan
 32                                            Sumenep
 33                                  Kota/Municipality
 34                                             Kediri
 35                                             Blitar
 36                                             Malang
 37                                        Probolinggo
 38                                           Pasuruan
 39                                          Mojokerto
 40                                             Madiun
 41                                           Surabaya
 42                                               Batu
 43                                         Jawa Timur
 44  Sumber/Source: Dinas Kesehatan Provinsi Jawa T...
 45  Jumlah Pasangan Usia Subur dan Peserta KB Akti...

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.1  \
 0   Number of Fertile Age Couples and Active Famil...
 1            Jumlah PUS Number of Fertile Age Couples
 2            Jumlah PUS Number of Fertile Age Couples
 3                                                 NaN
 4                                           * 116,516
 5                                           * 171,932
 6                                           * 148,168
 7                                           * 207,880
 8                                           * 252,927
 9                                           * 293,942
 10                                          * 506,462
 11                                          * 246,052
 12                                          * 478,574
 13                                          * 318,369
 14                                          * 147,878
 15                                          * 142,403
 16                                          * 264,403
 17                                          * 359,716
 18                                          * 338,492
 19                                          * 245,061
 20                                          * 253,378
 21                                          * 184,017
 22                                          * 138,729
 23                                          * 114,178
 24                                          * 195,496
 25                                          * 206,438
 26                                          * 250,796
 27                                          * 300,159
 28                                          * 233,496
 29                                          * 195,475
 30                                          * 254,664
 31                                          * 187,719
 32                                          * 223,943
 33                                                NaN
 34                                           * 44,721
 35                                           * 19,992
 36                                          * 125,349
 37                                           * 45,461
 38                                           * 32,743
 39                                           * 19,850
 40                                           * 20,495
 41                                          * 504,905
 42                                           * 43,039
 43                                        * 7,833,818
 44                                                NaN
 45                                                NaN

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.2  \
 0   Number of Fertile Age Couples and Active Famil...
 1                                                 NaN
 2                                                 IUD
 3                                                 NaN
 4                                            * 22,904
 5                                            * 37,000
 6                                            * 18,273
 7                                            * 17,125
 8                                            * 42,579
 9                                            * 34,198
 10                                           * 54,261
 11                                           * 20,855
 12                                           * 39,713
 13                                           * 19,867
 14                                            * 6,017
 15                                            * 4,492
 16                                            * 6,739
 17                                           * 14,928
 18                                           * 32,103
 19                                           * 26,134
 20                                           * 19,086
 21                                           * 14,220
 22                                           * 17,356
 23                                           * 14,812
 24                                           * 28,549
 25                                           * 12,570
 26                                           * 20,901
 27                                           * 14,656
 28                                           * 11,495
 29                                            * 5,380
 30                                            * 3,794
 31                                            * 4,656
 32                                            * 1,826
 33                                                NaN
 34                                            * 3,562
 35                                            * 3,993
 36                                           * 23,294
 37                                            * 4,180
 38                                            * 2,565
 39                                            * 3,330
 40                                            * 3,578
 41                                           * 54,636
 42                                            * 9,199
 43                                          * 674,826
 44                                                NaN
 45                                                NaN

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.3  \
 0   Number of Fertile Age Couples and Active Famil...
 1                                                 NaN
 2                                                 MOW
 3                                                 NaN
 4                                             * 4,351
 5                                             * 7,295
 6                                             * 5,480
 7                                             * 9,039
 8                                             * 6,415
 9                                            * 15,445
 10                                           * 18,867
 11                                            * 7,590
 12                                            * 7,038
 13                                            * 6,863
 14                                            * 2,271
 15                                            * 4,855
 16                                           * 12,226
 17                                           * 11,902
 18                                           * 18,669
 19                                           * 13,911
 20                                           * 11,788
 21                                            * 9,541
 22                                            * 6,822
 23                                            * 5,400
 24                                            * 6,620
 25                                            * 6,886
 26                                            * 7,354
 27                                            * 8,102
 28                                            * 7,397
 29                                            * 3,435
 30                                            * 2,940
 31                                            * 2,589
 32                                            * 1,164
 33                                                NaN
 34                                            * 3,207
 35                                            * 1,071
 36                                            * 9,209
 37                                            * 2,375
 38                                            * 1,378
 39                                            * 1,595
 40                                            * 2,008
 41                                           * 32,262
 42                                            * 2,193
 43                                          * 287,553
 44                                                NaN
 45                                                NaN

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.4  \
 0   Number of Fertile Age Couples and Active Famil...
 1                                                 NaN
 2                                                 MOP
 3                                                 NaN
 4                                               * 415
 5                                               * 541
 6                                               * 211
 7                                               * 507
 8                                               * 670
 9                                               * 559
 10                                              * 440
 11                                              * 647
 12                                              * 661
 13                                              * 590
 14                                            * 1,002
 15                                            * 3,907
 16                                            * 1,321
 17                                            * 1,517
 18                                              * 591
 19                                              * 410
 20                                              * 442
 21                                              * 462
 22                                               * 99
 23                                              * 305
 24                                              * 308
 25                                              * 285
 26                                              * 409
 27                                              * 490
 28                                              * 299
 29                                              * 534
 30                                              * 381
 31                                              * 288
 32                                              * 109
 33                                                NaN
 34                                              * 308
 35                                              * 553
 36                                              * 281
 37                                              * 150
 38                                              * 130
 39                                              * 108
 40                                              * 107
 41                                            * 1,559
 42                                              * 150
 43                                           * 21,746
 44                                                NaN
 45                                                NaN

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.5  \
 0   Number of Fertile Age Couples and Active Famil...
 1                                                 NaN
 2                                              Kondom
 3                                                 NaN
 4                                               * 877
 5                                             * 3,625
 6                                             * 4,959
 7                                             * 4,617
 8                                             * 4,023
 9                                             * 3,900
 10                                            * 4,588
 11                                            * 4,311
 12                                            * 3,319
 13                                            * 5,016
 14                                              * 605
 15                                            * 2,133
 16                                            * 2,428
 17                                            * 3,555
 18                                            * 5,779
 19                                            * 6,452
 20                                            * 4,647
 21                                            * 4,645
 22                                            * 1,478
 23                                            * 1,909
 24                                            * 1,558
 25                                            * 2,261
 26                                            * 1,550
 27                                            * 5,381
 28                                            * 2,165
 29                                            * 2,412
 30                                            * 2,341
 31                                            * 1,652
 32                                              * 965
 33                                                NaN
 34                                            * 1,167
 35                                            * 1,277
 36                                            * 4,102
 37                                              * 895
 38                                              * 598
 39                                              * 761
 40                                            * 2,231
 41                                           * 22,817
 42                                            * 1,744
 43                                          * 128,743
 44                                                NaN
 45                                                NaN

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.6  \
 0   Number of Fertile Age Couples and Active Famil...
 1                                                 NaN
 2                                             Implant
 3                                                 NaN
 4                                            * 10,564
 5                                            * 13,329
 6                                            * 13,256
 7                                            * 19,194
 8                                            * 25,094
 9                                            * 27,074
 10                                           * 50,963
 11                                           * 41,126
 12                                           * 32,036
 13                                           * 27,988
 14                                           * 12,849
 15                                           * 20,473
 16                                           * 32,871
 17                                           * 28,266
 18                                           * 15,198
 19                                           * 24,346
 20                                           * 19,841
 21                                           * 15,988
 22                                           * 12,455
 23                                            * 6,567
 24                                           * 14,581
 25                                           * 14,589
 26                                           * 33,412
 27                                           * 29,603
 28                                           * 19,642
 29                                           * 20,110
 30                                           * 24,219
 31                                           * 12,352
 32                                           * 13,354
 33                                                NaN
 34                                            * 4,303
 35                                              * 886
 36                                            * 5,756
 37                                            * 5,993
 38                                            * 2,219
 39                                            * 1,084
 40                                              * 702
 41                                           * 29,845
 42                                            * 5,718
 43                                          * 687,846
 44                                                NaN
 45                                                NaN

    Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.7  \
 0   Number of Fertile Age Couples and Active Famil...
 1                                                 NaN
 2                                            Suntikan
 3                                                 NaN
 4                                            * 45,426
 5                                            * 43,491
 6                                            * 53,177
 7                                            * 72,193
 8                                            * 86,500
 9                                           * 102,957
 10                                          * 200,499
 11                                           * 80,495
 12                                          * 165,959
 13                                          * 122,069
 14                                           * 67,906
 15                                           * 42,420
 16                                          * 115,861
 17                                          * 141,944
 18                                          * 150,048
 19                                           * 93,725

In [32]:
len(df)

6

In [42]:
df[4]

,"Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.1","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.2","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.3","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.4","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.5","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.6","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.7","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.8","Jumlah Pasangan Usia Subur dan Peserta KB Aktif Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2020.9"
0,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...,Number of Fertile Age Couples and Active Famil...
1,Kabupaten/Kota Regency/ Municipality,Jumlah PUS Number of Fertile Age Couples,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kabupaten/Kota Regency/ Municipality,Jumlah PUS Number of Fertile Age Couples,IUD,MOW,MOP,Kondom,Implant,Suntikan,Pil,Jumlah
3,Kabupaten/Regency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pacitan,"* 116,516","* 22,904","* 4,351",* 415,* 877,"* 10,564","* 45,426","* 6,502","* 91,039"
5,Ponorogo,"* 171,932","* 37,000","* 7,295",* 541,"* 3,625","* 13,329","* 43,491","* 9,479","* 114,760"
6,Trenggalek,"* 148,168","* 18,273","* 5,480",* 211,"* 4,959","* 13,256","* 53,177","* 20,768","* 116,124"
7,Tulungagung,"* 207,880","* 17,125","* 9,039",* 507,"* 4,617","* 19,194","* 72,193","* 33,208","* 155,883"
8,Blitar,"* 252,927","* 42,579","* 6,415",* 670,"* 4,023","* 25,094","* 86,500","* 33,185","* 198,466"
9,Kediri,"* 293,942","* 34,198","* 15,445",* 559,"* 3,900","* 27,074","* 102,957","* 28,334","* 212,467"
10,Malang,"* 506,462","* 54,261","* 18,867",* 440,"* 4,588","* 50,963","* 200,499","* 55,926","* 385,544"
11,Lumajang,"* 246,052","* 20,855","* 7,590",* 647,"* 4,311","* 41,126","* 80,495","* 30,479","* 185,503"
12,Jember,"* 478,574","* 39,713","* 7,038",* 661,"* 3,319","* 32,036","* 165,959","* 108,914","* 357,640"
13,Banyuwangi,"* 318,369","* 19,867","* 6,863",* 590,"* 5,016","* 27,988","* 122,069","* 53,252","* 235,645"
14,Bondowoso,"* 147,878","* 6,017","* 2,271","* 1,002",* 605,"* 12,849","* 67,906","* 24,873","* 115,523"
15,Situbondo,"* 142,403","* 4,492","* 4,855","* 3,907","* 2,133","* 20,473","* 42,420","* 29,609","* 107,889"
16,Probolinggo,"* 264,403","* 6,739","* 12,226","* 1,321","* 2,428","* 32,871","* 115,861","* 31,385","* 202,831"
17,Pasuruan,"* 359,716","* 14,928","* 11,902","* 1,517","* 3,555","* 28,266","* 141,944","* 67,361","* 269,473"
18,Sidoarjo,"* 338,492","* 32,103","* 18,669",* 591,"* 5,779","* 15,198","* 150,048","* 44,131","* 266,519"
19,Mojokerto,"* 245,061","* 26,134","* 13,911",* 410,"* 6,452","* 24,346","* 93,725","* 32,587","* 197,565"
20,Jombang,"* 253,378","* 19,086","* 11,788",* 442,"* 4,647","* 19,841","* 91,910","* 31,120","* 178,834"
21,Nganjuk,"* 184,017","* 14,220","* 9,541",* 462,"* 4,645","* 15,988","* 82,357","* 18,764","* 145,977"
22,Madiun,"* 138,729","* 17,356","* 6,822",* 99,"* 1,478","* 12,455","* 54,009","* 14,752","* 106,971"
23,Magetan,"* 114,178","* 14,812","* 5,400",* 305,"* 1,909","* 6,567","* 48,237","* 6,099","* 83,329"
24,Ngawi,"* 195,496","* 28,549","* 6,620",* 308,"* 1,558","* 14,581","* 70,514","* 17,909","* 140,039"
25,Bojonegoro,"* 206,438","* 12,570","* 6,886",* 285,"* 2,261","* 14,589","* 94,560","* 27,278","* 158,429"
26,Tuban,"* 250,796","* 20,901","* 7,354",* 409,"* 1,550","* 33,412","* 107,425","* 16,871","* 187,922"
27,Lamongan,"* 300,159","* 14,656","* 8,102",* 490,"* 5,381","* 29,603","* 119,447","* 60,350","* 238,029"
28,Gresik,"* 233,496","* 11,495","* 7,397",* 299,"* 2,165","* 19,642","* 104,662","* 33,040","* 178,700"
29,Bangkalan,"* 195,475","* 5,380","* 3,435",* 534,"* 2,412","* 20,110","* 69,621","* 36,294","* 137,786"
30,Sampang,"* 254,664","* 3,794","* 2,940",* 381,"* 2,341","* 24,219","* 108,469","* 29,627","* 171,771"
31,Pamekasan,"* 187,719","* 4,656","* 2,589",* 288,"* 1,652","* 12,352","* 81,705","* 40,312","* 143,554"
32,Sumenep,"* 223,943","* 1,826","* 1,164",* 109,* 965,"* 13,354","* 104,869","* 33,790","* 156,077"
33,Kota/Municipality,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Kediri,"* 44,721","* 3,562","* 3,207",* 308,"* 1,167","* 4,303","* 15,526","* 3,977","* 32,050"
35,Blitar,"* 19,992","* 3,993","* 1,071",* 553,"* 1,277",* 886,"* 4,572","* 2,504","* 14,856"
36,Malang,"* 125,349","* 23,294","* 9,209",* 281,"* 4,102","* 5,756","* 38,098","* 11,890","* 92,630"
37,Probolinggo,"* 45,461","* 4,180","* 2,375",* 150,* 895,"* 5,993","* 13,290","* 8,258","* 35,141"
38,Pasuruan,"* 32,743","* 2,565","* 1,378",* 130,* 598,"* 2,219","* 14,527","* 4,826","* 26,243"
39,Mojokerto,"* 19,850","* 3,330","* 1,595",* 108,* 761,"* 1,084","* 5,615","* 2,065","* 14,558"
40,Madiun,"* 20,495","* 3,578","* 2,008",* 107,"* 2,231",* 702,"* 5,044","* 1,242","* 14,912"
41,Surabaya,"* 504,905","* 54,636","* 32,262","* 1,559","* 22,817","* 29,845","* 205,530","* 67,909","* 414,558"
42,Batu,"* 43,039","* 9,199","* 2,193",* 150,"* 1,744","* 5,718","* 10,226","* 3,668","* 32,898"
43,Jawa Timur,"* 7,833,818","* 674,826","* 287,553","* 21,746","* 128,743","* 687,846","* 3,034,883","* 1,082,538","* 5,918,135"
44,Sumber/Source: Dinas Kesehatan Provinsi Jawa T...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Jumlah Pasangan Usia Subur dan Peserta KB Akti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN